In [ ]:
file handling
#operations
create
read
update
delete
this is termed as CRUD operation

In [ ]:
import os
if_name_=='_main_':
filename="example.txt"
new_filename="new_example.txt"

create_file(filename)
read_file(filename)
append_file(filename,"this is some additional text.\n")
read_file(filename)
rename_file(filename,new_filename)
read_file(new_filename)
delete_file(new_filename)

In [6]:
import os#create a file and write in it
with open("zoya.txt",'w')as f:
    f.write("this is my 1st file\n")

In [7]:
import os#append file
with open("zoya.txt",'a')as f:
    f.write("this is my 2nd file")

In [9]:
import os#read file(ie read contents present in the created file)
with open("zoya.txt",'r')as f:
    a=f.read()
    print(a)
    f.close()

this is my 1st file
this is my 2nd file

In [22]:
import os#read using split 
with open("new.txt",'r')as f:#new file name 
    a=f.read().split()
    print(a)
    f.close()

['this', 'is', 'my', '1st', 'file', 'this', 'is', 'my', '2nd', 'file']

In [17]:
import os#
os.rename("zoya.txt","new.txt")
f.close()

In [25]:
temp=int(input("enter the temp"))#celsius to fahrenheit
temp=temp*(5/9)+32
print(temp)

enter the temp 0

32.0

In [12]:
#replace text in file
import os
with open("fruits.txt",'w')as f:
    f.write(input("enter")+'\n')
    f.write(input("enter")+'\n')
    f.write(input("enter")+'\n')
with open("fruits.txt",'r')as f:
    x=f.read()
    print(x)
q=input("enter the name to be replaced:")
w=input("enter the new name:")
with open("fruits.txt",'r')as f:
    x=f.read()
y=x.replace("banana","watermelon")
with open("fruits.txt",'w')as f:
    f.write("apple\nwatermelon\nmango")
with open("fruits.txt",'r')as f:
    x=f.read()
    print(y)
print("name replaced successfully")
f.close()

enter apple
enter banana
enter mango

apple
banana
mango

enter the name to be replaced: banana
enter the new name: watermelon

apple
watermelon
mango

name replaced successfully

In [8]:
#print the second largest number in the list(method 1)
a=[99,89,79,69,59]
print("the second largest element is:",a[1])

the second largest element is: 89

In [18]:
#(method 2)
a=[89,67,53,90,55]
a.sort()
print("the second largest element is:",a[3])

the second largest element is: 89

In [30]:
#reverse a list
a=["a","b","c","d"]
b=(a[::-1])
print("the reversed list is:",b)

the reversed list is: ['d', 'c', 'b', 'a']

In [32]:
#reverse words in a sentence 
a=input("enter the string")
b=(a[::-1])
print("the reversed list is:",b)

enter the string my name is zoya

the reversed list is: ayoz si eman ym

In [6]:
#count the number of vowels
a=input("enter the string:")
count=0
for x in range(0,len(a)):
    if a[x] in "aeiou":
        count=count+1
print("The number of vowels in the string is:",count)

enter the string: zoya tabassum

The number of vowels in the string is: 5

In [1]:
#count the occurence of each element in the list
a=[1,1,2,3,6,7,6,9,4,7,6]
x=int(input("print the number"))
print(a.count(x))

print the number 1

2

In [8]:
#find the sum of even numbers in a list
a=[1,2,3,4,5,6,7,8,9,10]
sum=0
for x in a:
    if x%2==0:
        sum+=x
print("the sum of even numbers is",sum)

the sum of even numbers is 30