In [9]:
x=[7,88,7,3.7,4]
for a in range (0,4):
    print(x[a])

7
88
7
3.7

In [10]:
x=[7,88,7,3.7,4]
for a in range (0,5):
    print(x[a])

7
88
7
3.7
4

functions of list
pop     to pull out element of the list,raise indexerror if list is empty,,here we are giving the index from where we need to remove the value
sort    use to sort the list(reverse=true(if we wan to sort in scending order and vice versa))
copy    use to copy the list 
append  it appends object to the end of the list
extend  list by appending elements from the iterable
index   return first index of the value,raises valueerror if the value is nnot present
count   return number of occurences of the value/it gives us no of duplicates which means number of repeated numbers
insert  insert object before the index
remove  remove first occurence of the value,here we are giving directly the value tht can be removed
len(list))  it will give us the length of the list

In [20]:
a=[1,2,3,4,5]
b=a.copy()
print(b)

c=b.pop(3)
print(c)

print(b)
b.append(10)
print(b)

print(b.index(3))
print(b.count(3))
print(b.count(10))
b.insert(4,9)
print(b)
b.remove(3)
print(b)

b.sort()
print(b)
b.sort(reverse=True)
print(b)
print(len(b))
b.extend(a)
print(b)

[1, 2, 3, 4, 5]
4
[1, 2, 3, 5]
[1, 2, 3, 5, 10]
2
1
1
[1, 2, 3, 5, 9, 10]
[1, 2, 5, 9, 10]
[1, 2, 5, 9, 10]
[10, 9, 5, 2, 1]
5
[10, 9, 5, 2, 1, 1, 2, 3, 4, 5]

In [21]:
#for each loop
a=[1,2,3,4,55,667,5,88,99,67,556,89,5,98,87,88,]
for x in a:
    print(x) #each value will be printed

1
2
3
4
55
667
5
88
99
67
556
89
5
98
87
88

In [1]:
n=int(input("enter the size of list"))
a=[]
for x in range(0,n):
    x=input()
    a.append(x)
print(a)

enter the size of list 5
 3
 4
 3
 2
 1

['3', '4', '3', '2', '1']

In [4]:
#0r
L=[int(item)for item in(input("enter the elements of the list:").split())]
print(L)

enter the elements of the list: 1 2 3 4 5 5 4

[1, 2, 3, 4, 5, 5, 4]

In [6]:
a=list([1,2,3,4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#tuples
once a tupple is created we cannot chnge anythn,ie we cannot update here as in list
if we want to do any chnges thn we need to convert tuple into list ie done by
b=list(a)
print(a)

In [8]:
a=(1,2,3,4,5,"zo")
print(a)
b=list(a)
print(b)
b[5]="zooo"
a=tuple(b)
print(a)

(1, 2, 3, 4, 5, 'zo')
[1, 2, 3, 4, 5, 'zo']
(1, 2, 3, 4, 5, 'zooo')

In [16]:
a=[1,2,3,4,5]
for x in range(-1,-1*(len(a)+1),-1):#reverse of list without using any function
    print(a[x])

5
4
3
2
1

In [17]:
#or
a=(1,2,3,4,5,6,7,8)
for x in range(0,len(a)):
    print(a[-1*(x+1)])

8
7
6
5
4
3
2
1

In [ ]:
#dictionary
it is a set of key and values
key values pair

In [22]:
D={1:"zoy",2:"taa",3:"rty"}#here 1 is key and zoy is value
print(D)
print(D[2])#it only takes key
print(D["taa"])#here it wont take values

{1: 'zoy', 2: 'taa', 3: 'rty'}
taa

KeyError: 'taa'

In [ ]:
functions in dict
copy 
keys give the key of particular value
value
item
pop
get function if key is there it will give that value if no it will give none       #subscript can be given as a key value

In [25]:
print(D.keys())
print(D.values())
print(D.items())
print(D.get(2))
print(D.get(4))#coz four not der so none

dict_keys([1, 2, 3])
dict_values(['zoy', 'taa', 'rty'])
dict_items([(1, 'zoy'), (2, 'taa'), (3, 'rty')])
taa
None

In [ ]:
# write a program to take key and value as input from a user and add it into the dictionary if key is not present in dictionary otherwise
#print key already exist and also print its corresponding value

In [29]:
key=int(input())
value=(input())
D={1:"zoya",2:"sana",3:"rumana"}
print(D.get(key))
if key is True:
    print("present")
else:
    print("not present")

 2
 sana

sana
not present

In [18]:
a=[1,2.3,4,6,8,"zo","sarah","sana","rumana",9]
index=int(input("enter the index number"))
try:
    a[index]
except:
    print("index out of  bound")
else:
     print("value received",a[index])
    
finally:
    print("error handelled")

enter the index number 11

index out of  bound
error handelled

In [4]:
try:
    a=input()
    b=input()
    c=int(a)/int(b)
    x="hello"/3
except ValueError:
    print("value unable to convert")
except ZeroDivisionError:
    print("cant divide by zero")
except:
    print("Some unknown Error Found")
else:
    print("no error")
finally:
    print("code execution done")

 2
 5

Some unknown Error Found
code execution done

In [1]:
#write a python program to find the sum of all the elements in a list and handle the case if it consists of numeric value
create a dictionary containing name of a student wap to

In [11]:
a=[1,"a",7,"c",5,"t"]
sum=0
for x in a:
    print(x)
    if isinstance(x,(int,float)):
        sum+=x
    else:
        print("non numeric value")

1
a
non numeric value
7
c
non numeric value
5
t
non numeric value

In [9]:
 def find_sum(a):
     a=[1,"a",7,"c",5,"t"]
     print("the sum of all elements is:",find sum(a))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1696650985.py, line 3)

In [12]:
def find_sum(lst):
    total = 0
    for element in lst:
        if isinstance(element, (int, float)):
            total += element
        else:
            print(f"Non-numeric value '{element}' found and ignored.")
    return total

# Example usage:
my_list = [1, 2, 3, 'a', 4.5, 'b', 5]
print("Sum of all numeric elements in the list:", find_sum(my_list))

Non-numeric value 'a' found and ignored.
Non-numeric value 'b' found and ignored.
Sum of all numeric elements in the list: 15.5

In [14]:
def sum_list_elements(lst):
    total = 0
    for element in lst:
        try:
            total += element  #variable=variable+value
        except TypeError:
            print(f"Ignoring non-numeric value: {element}")
    return total

# Example usage:
my_list = [1, 2, 3, 'a', 4.5, 'b', 5]
print("Sum of list elements:", sum_list_elements(my_list))

Ignoring non-numeric value: a
Ignoring non-numeric value: b
Sum of list elements: 15.5

In [32]:
#actual one
a= [1, 2, 3, 'a', 4.5, 'b', 5]    #x means each element present in list a
sum= 0
for x in a:     #for x in a(for each loop)
        try:
            sum+=x  #variable=variable+value
        except:
            print("Ignoring non-numeric value:",x)
print("Sum of list elements:",sum)

Ignoring non-numeric value: a
Ignoring non-numeric value: b
Sum of list elements: 15.5

In [5]:
D={"abc":9,"xyz":8.5,"fgh":7,"uji":4.5}
total=0
for x in D:
    try:
        total+=x
        avg=total/4
    except:
        if x==0:
            print("dictionary empty")
else:
    print("average is",avg)

average is 0.0

In [13]:
grades = {
    "Alice": 85,
    "Bob": 72,
    "Charlie": 90,
    "David": 65
}
key=int(input("enter key"))
if grades==0:
    print("There are no grades to calculate.")
else:
    # Calculate the average grade
    avg=((85+72+90+65)/4)

    # Print the average grade
    print("Average grade:",avg)

enter key Bob

ValueError: invalid literal for int() with base 10: 'Bob'

In [ ]:
Example dictionary of student names and their grades
grades = {
    "Alice": 85,
    "Bob": 72,
    "Charlie": 90,
    "David": 65
}

# Check if the dictionary is empty
if not grades:
    print("There are no grades to calculate.")
else:
    # Calculate the average grade
    average_grade = sum(grades.values()) / len(grades)

    # Print the average grade
    print("Average grade:", average_grade)

In [14]:
# Example dictionary of student names and their grades
grades = {
    "Alice": 85,
    "Bob": 72,
    "Charlie": 90,
    "David": 65
}

try:
    # Calculate the average grade
    average_grade = sum(grades.values()) / len(grades)
    print("Average grade:", average_grade)
except ZeroDivisionError:
    print("There are no grades to calculate.")

Average grade: 78.0

In [6]:
a={"rohan":99,"priya":88,"neha":64,"vinay":38}
key =input("enter the key")
try:
    a.get(key)
except:
    print("empty")
else:
    print(a.get(key))
    avg=(9.00+8.9+6+3)/4
    print("average:",avg)

enter the key zoya

None
average: 6.725